<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container mt-5">
          <h2 class="text-center">Data Mahasiswa FSW 13</h2>
          <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1 g-2">
              <% data.forEach(x => { %>
                <div class="item">
                    <div class="card bg-info">
                        <h3 class="text-center"><%= x.nama %></h3>
                        <p class="text-center"><%= x.asal %></p>
                    </div>
                </div>
              <% }) %>
          </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>